/ ==============================================================================
/ app - views - layout - management - shop
/ ==============================================================================

== yield