/ ==============================================================================
/ app - views - management - shops - edit
/ ==============================================================================
