/ ==============================================================================
/ app - views - management - receipts - index
/ ==============================================================================
