/ ==============================================================================
/ app - views - management - receipts - show
/ ==============================================================================
